body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.module{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #9f9f9f;
    border-radius: 10px;
}
/**.keyasboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.kaaey {
    width: 60px;
    height: 150px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}**/

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 16px;
    vertical-align: bottom;
}
.key:active {
    background-color: #ffd700;
}
.adsr-controls, .distortion-controls, .filter-controls, .oscillator-controls {
    margin-top: 20px;
}
.adsr-controls label, .distortion-controls label, .filter-controls label, .oscillator-controls label {
    margin-right: 10px;
}
.adsr-controls input, .distortion-controls input, .filter-controls input, .oscillator-controls select {
    margin-right: 20px;
    width: 60px;
}
.oscillator-controls select {
    width: auto;
}